body {
    background-color: black;
    color: white;
    
  }
  
  header {
    background-color: #33333300;
    padding: 20px;
    text-align: center;
    font-size: 300%;
    font-family: All_Things_Pink;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  main {
    font-family: All_Things_Pink;
  }

  .series {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /*height: 30vh; /* Adjust the height as per your requirement */
    text-align: center;
    font-size: 300%;
  }
  
  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as per your requirement */
  }
  
  .series div {
    margin-bottom: 50px;
  }
  
  .manga {
    /*height: 10vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .manga img {
    height: 25%; 
    width: 25%;
    
  }
  
  .manga-title {
    font-size: 40px;
  }

  .manga-author {
    font-size: 30px;

  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Cicle;
    font-size: 100px;
  }

  @font-face {
    font-family: Laffayette;
    src: url(content/fonts/Laffayette_Comic_Pro.ttf);
}

  @font-face {
    font-family: All_Things_Pink;
    src: url(content/fonts/AllThingsPink-r5vA.ttf);
  }

  @font-face {
    font-family: Cicle;
    src: url(content/fonts/Cicle-Gordita.ttf);
  }

