body {
    background-color: black;
    color: white;
    
  }
  
  header {
    background-color: #33333300;
    padding: 20px;
    text-align: center;
    font-size: 300%;
    font-family: All_Things_Pink;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  main {
    font-family: All_Things_Pink;
  }

  .series {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /*height: 30vh; /* Adjust the height as per your requirement */
    text-align: center;
    font-size: 300%;
  }
  
  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as per your requirement */
  }
  
  .series div {
    margin-bottom: 50px;
  }
  
  .manga {
    /*height: 10vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .manga img {
    height: 25%; 
    width: 25%;
    
  }
  
  .manga-title {
    font-size: 40px;
  }

  .manga-author {
    font-size: 30px;

  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Cicle;
    font-size: 100px;
  }

  @font-face {
    font-family: Laffayette;
    src: url(content/fonts/Laffayette_Comic_Pro.ttf);
}

  @font-face {
    font-family: All_Things_Pink;
    src: url(content/fonts/AllThingsPink-r5vA.ttf);
  }

  @font-face {
    font-family: Cicle;
    src: url(content/fonts/Cicle-Gordita.ttf);
  }
/*
  html {
    cursor: url('content/2.gif'), help;
  }


  #container {
    cursor   : none;
 }
 
 #cursor {
   position  : absolute;
   z-index   : 10000;
   width     : 40px;
   height    : 40px;
   background: transparent url(/content/2.gif) 0 0 no-repeat;
 }
*/

* {
  cursor: url(/content/cursor/frame_00_delay-0.05s.png), auto;
  -webkit-animation: cursor 800ms infinite;
  animation: cursor 800ms infinite;
}

@-webkit-keyframes cursor { /*OMG thanks ChatGPT you are a life saveer 🙏*/
  0% {cursor: url(/content/cursor/frame_00_delay-0.05s.png), auto;}
  3.4483% {cursor: url(/content/cursor/frame_01_delay-0.05s.png), auto;}
  6.8966% {cursor: url(/content/cursor/frame_02_delay-0.05s.png), auto;}
  10.3449% {cursor: url(/content/cursor/frame_03_delay-0.05s.png), auto;}
  13.7931% {cursor: url(/content/cursor/frame_04_delay-0.05s.png), auto;}
  17.2414% {cursor: url(/content/cursor/frame_05_delay-0.05s.png), auto;}
  20.6897% {cursor: url(/content/cursor/frame_06_delay-0.05s.png), auto;}
  24.1380% {cursor: url(/content/cursor/frame_07_delay-0.05s.png), auto;}
  27.5862% {cursor: url(/content/cursor/frame_08_delay-0.05s.png), auto;}
  31.0345% {cursor: url(/content/cursor/frame_09_delay-0.05s.png), auto;}
  34.4828% {cursor: url(/content/cursor/frame_10_delay-0.05s.png), auto;}
  37.9311% {cursor: url(/content/cursor/frame_11_delay-0.05s.png), auto;}
  41.3793% {cursor: url(/content/cursor/frame_12_delay-0.05s.png), auto;}
  44.8276% {cursor: url(/content/cursor/frame_13_delay-0.05s.png), auto;}
  48.2759% {cursor: url(/content/cursor/frame_14_delay-0.05s.png), auto;}
  51.7241% {cursor: url(/content/cursor/frame_15_delay-0.05s.png), auto;}
  55.1724% {cursor: url(/content/cursor/frame_16_delay-0.05s.png), auto;}
  58.6207% {cursor: url(/content/cursor/frame_17_delay-0.05s.png), auto;}
  62.0690% {cursor: url(/content/cursor/frame_18_delay-0.05s.png), auto;}
  65.5172% {cursor: url(/content/cursor/frame_19_delay-0.05s.png), auto;}
  68.9655% {cursor: url(/content/cursor/frame_20_delay-0.05s.png), auto;}
  72.4138% {cursor: url(/content/cursor/frame_21_delay-0.05s.png), auto;}
  75.8621% {cursor: url(/content/cursor/frame_22_delay-0.05s.png), auto;}
  79.3103% {cursor: url(/content/cursor/frame_23_delay-0.05s.png), auto;}
  82.7586% {cursor: url(/content/cursor/frame_24_delay-0.05s.png), auto;}
  86.2069% {cursor: url(/content/cursor/frame_25_delay-0.05s.png), auto;}
  89.6552% {cursor: url(/content/cursor/frame_26_delay-0.05s.png), auto;}
  93.1034% {cursor: url(/content/cursor/frame_27_delay-0.05s.png), auto;}
  96.5517% {cursor: url(/content/cursor/frame_28_delay-0.05s.png), auto;}
  100.0000% {cursor: url(/content/cursor/frame_29_delay-0.05s.png), auto;}  
} 

@keyframes cursor {
  0% {cursor: url(/content/cursor/frame_00_delay-0.05s.png), auto;}
  3.4483% {cursor: url(/content/cursor/frame_01_delay-0.05s.png), auto;}
  6.8966% {cursor: url(/content/cursor/frame_02_delay-0.05s.png), auto;}
  10.3449% {cursor: url(/content/cursor/frame_03_delay-0.05s.png), auto;}
  13.7931% {cursor: url(/content/cursor/frame_04_delay-0.05s.png), auto;}
  17.2414% {cursor: url(/content/cursor/frame_05_delay-0.05s.png), auto;}
  20.6897% {cursor: url(/content/cursor/frame_06_delay-0.05s.png), auto;}
  24.1380% {cursor: url(/content/cursor/frame_07_delay-0.05s.png), auto;}
  27.5862% {cursor: url(/content/cursor/frame_08_delay-0.05s.png), auto;}
  31.0345% {cursor: url(/content/cursor/frame_09_delay-0.05s.png), auto;}
  34.4828% {cursor: url(/content/cursor/frame_10_delay-0.05s.png), auto;}
  37.9311% {cursor: url(/content/cursor/frame_11_delay-0.05s.png), auto;}
  41.3793% {cursor: url(/content/cursor/frame_12_delay-0.05s.png), auto;}
  44.8276% {cursor: url(/content/cursor/frame_13_delay-0.05s.png), auto;}
  48.2759% {cursor: url(/content/cursor/frame_14_delay-0.05s.png), auto;}
  51.7241% {cursor: url(/content/cursor/frame_15_delay-0.05s.png), auto;}
  55.1724% {cursor: url(/content/cursor/frame_16_delay-0.05s.png), auto;}
  58.6207% {cursor: url(/content/cursor/frame_17_delay-0.05s.png), auto;}
  62.0690% {cursor: url(/content/cursor/frame_18_delay-0.05s.png), auto;}
  65.5172% {cursor: url(/content/cursor/frame_19_delay-0.05s.png), auto;}
  68.9655% {cursor: url(/content/cursor/frame_20_delay-0.05s.png), auto;}
  72.4138% {cursor: url(/content/cursor/frame_21_delay-0.05s.png), auto;}
  75.8621% {cursor: url(/content/cursor/frame_22_delay-0.05s.png), auto;}
  79.3103% {cursor: url(/content/cursor/frame_23_delay-0.05s.png), auto;}
  82.7586% {cursor: url(/content/cursor/frame_24_delay-0.05s.png), auto;}
  86.2069% {cursor: url(/content/cursor/frame_25_delay-0.05s.png), auto;}
  89.6552% {cursor: url(/content/cursor/frame_26_delay-0.05s.png), auto;}
  93.1034% {cursor: url(/content/cursor/frame_27_delay-0.05s.png), auto;}
  96.5517% {cursor: url(/content/cursor/frame_28_delay-0.05s.png), auto;}
  100.0000% {cursor: url(/content/cursor/frame_29_delay-0.05s.png), auto;}
}